<html xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="/layout/header.html :: fragment-header"></div>
</head>


<div class="container">
  <form action="/auth/loginProc" method = "post">
    <div class="form-group">
      <label for="username">닉네임</label>
      <input type="text" class="form-control" placeholder="닉네임을 입력해주세요." id="username">
    </div>

    <div class="form-group">
      <label for="password">비밀번호</label>
      <input type="password" class="form-control" placeholder="비밀번호를 입력해주세요." id="password">
    </div>
    <button id="btn-login" class="btn btn-primary">로그인 완료</button>
  </form>



</div>

<footer th:replace="/layout/footer.html :: fragment-footer"></footer>

</body>
</html>