<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layout/header :: fragment-header"></div>
</head>

<body>
<div th:replace="/layout/nav :: fragment-nav"></div>
<div class="container">
    <div class="card m-3">
        <div class="card-body">
            <h4 class="card-title">제목</h4>
            <a href="#" class="btn btn-primary">상세</a>
        </div>
    </div>

    <div class="card m-3">
        <div class="card-body">
            <h4 class="card-title">제목</h4>
            <a href="#" class="btn btn-primary">상세</a>
        </div>
    </div>

    <div class="card m-3">
        <div class="card-body">
            <h4 class="card-title">제목</h4>
            <a href="#" class="btn btn-primary">상세</a>
        </div>
    </div>
</div>

<footer th:replace="/layout/footer :: fragment-footer"></footer>

</body>
</html>


